@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300&family=Kanit:wght@300&family=Mooli&family=Rubik:wght@300&display=swap');
*{
    font-family: 'Rubik', sans-serif;
    
}

body{
    margin: 0;
    padding: 0;
    background: url(img/img.jpg);
    background-size: cover;

}
button{
    margin-right: 40%;
    margin-left: 35%;
    width: 90px;
    height: 30px;
    background-color: white;
    color: #333;
}
.loginbox{
    opacity: 0.9;
    width: 320px;
    height: 420px;
    background: #333;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-size: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type ="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
